.hand-segment{
  position: absolute;
  bottom: 10px;
}

.button-center {
  text-align: center;
}

.image-stage {
  position: absolute;
}

.section-header {
  margin: 0px!important;
  padding: 10px;
  background-color: white;
  font-size:1.25em
}

.start-button-container {
  width: 100%;
  display: flex;
}

.section {
  margin-bottom: 10px;
}

/* .start-button {
  margin: 20px 10px;
  width: 50%;
  border-radius: 30px;
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  border: none;
  outline: none;
  font-size: 1.1em;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
} */

.edit-button {
  width: 120px;
  border-radius: 15px;
  padding: 5px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  border: none;
  outline: none;
  font-size: 1em;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 20px; 
  right: 15px;
  padding: 15px 10px;
}

.edit-button i {
  margin-right: 10px;
}

.topo-list {
  margin-top: 90px;
  margin-bottom: 100px;
}

.float-left-top {
  position: absolute;
  right: 1em;
}

.float-right-top {
  position: absolute;
  left: 1em;
}

.rotate-image {
  transform: rotate(0.5turn);
}


/* 閉じるボタン　ここから */

.close-button {
  top: 2%;
  width: 50px;
  height: 50px;
  vertical-align:auto;
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
}

.close-button i {
  font-size: 2.5em;
}

/* 閉じるボタン　ここまで */

/* 検索バー　ここから */
.search-container{
  box-sizing: border-box;
  /* position: relative; */
  /* border: 1px solid #999; */
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 70%;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: fixed;
  top: 15px;
  right: 40px;
  left: 40px;
}
.search-container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search-container input[type="text"]:focus {
  outline: 0;
}
.search-container button {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #004898;
  position: absolute;
  right: 0;
  margin-right: 5px;
  outline : none;
}
/* 検索バー　ここまで */

/* トポカード　ここから */
.topo-card {
  background-color: white;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 1px 1.5px 1px rgba(0,0,0,0.1);
}

.topo-card-data {
  padding: 2px 10px 10px 10px;
}

.topo-card-title {
  font-size: 22px;
  font-weight: 800;
}

.topo-card img{
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.topo-card-divider {
  width: 100%;
  height: 0.5px;
  overflow: hidden;
  background-color: gainsboro;
}

.topo-card-action {
  padding: 5px 10px;
  display: flex;
  gap: 15px;
}

.topo-card-action-button {
  /* margin-left: auto; */
  padding: 5px;
}

.topo-card-action-button i:before {
  color: black;
}

.topo-card-action-button:first-child {
  margin-left: auto;
}

/* トポカード　ここまで */


/* 戻る・進むボタン　ここまで*/
.undo-and-redo-container {
  position: absolute;
  top: 2%;
  right: 17%;
  width: 65px;
}

.undo-and-redo-container.is-lefty {
  position: absolute;
  top: 2%;
  left: 1em;
  width: 65px;
}

.redo-button {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  border: none;
  outline: none;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.undo-button {
  position: absolute;
  left: 0%;
  width: 50px;
  height: 50px;
  border-radius: 30px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  border: none;
  outline: none;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.undo-button.disabled,
.redo-button.disabled{
  background-color: whitesmoke;
  color: black;
}

.undo-button i,
.redo-button i {
  font-size: 1.5em;
}
/* 戻る・進むボタン　ここまで*/


/* ダウンロードボタン　ここから*/

.download-button {
  position: absolute;
  left: 1em;
  bottom: 20%;
  height: 20px;
  width: 20px;
  border-radius: 35px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.download-button i {
  font-size: 1.3em;
}

.download-button.is-lefty {
  left: auto;
  right: 1em;
}

/* ダウンロードボタン　ここまで*/

.save-button {
  position: absolute;
  left: 1em;
  bottom: 32%;
  height: 20px;
  width: 20px;
  border-radius: 35px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.save-button i {
  font-size: 1.3em;
}

.save-button.is-lefty {
  left: auto;
  right: 1em;
}

/* ダウンロードボタン　ここまで*/


/* スタンプメニューここから */

/* .horizontal-container::after {
  padding: 10px;
} */

.horizontal-container {
  position: absolute;
  width: 100%;
  bottom: 2%;
  display: flex;
  align-items: center;
  overflow: scroll;
  height:12%;
  box-sizing: border-box;
  padding: 10px;
  /* gap: 10px; */
  /* list-style: none; */
  /* justify-content: space-between; */
}

.horizontal-container::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  scrollbar-width: none;
}

.round-button.selected {
  color: whitesmoke;
  background-color: #004898;
}

.button-li::marker {
  display: none;
}

.round-button {
  margin: 0% 1%;
  border-radius: 1.3rem; 
  padding: 2% 5%;
  text-align: center;
  width: fit-content;
  font-size: 1rem;
  white-space: nowrap;
  color: black;
  background-color: whitesmoke;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

/* スタンプメニューここまで */

/* 編集ページ　ここから */
.edit-page {
  background-color: white;
}

#edit-container {
  margin: 70px 20px;
}

.edit-title {
  margin-top: 40px;
  margin-bottom: 5px;
}

h3.page-title i {
  margin-right: 15px;
}

.edit-image {
  width: 100%;
}

.edit-input {
  width: 100%;
  height: auto;
}
/* 編集ページ　ここまで */
