/* html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
} */

.menu-item i {
  margin-right: 7px;
}

.page__content,
.page__content.page--material__content {
  background: #fafafa!important;
  background-color: #fafafa!important;
}

.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.hidden {
  display: none!important;
}

.hand-segment{
  position: absolute;
  bottom: 10px;
}

.button-center {
  text-align: center;
}

.image-stage {
  position: absolute;
}

.loading-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #3333338a;
}

.loading-overlay .circle {
  position: relative;
  top: calc(50% - 20px);
  left: calc(50% - 15px);
  z-index: 100;
}

.loading-overlay .text {
  color: #fafafa;
  position: relative;
  top: calc(50% - 20px);
  left: calc(50% - 1.8rem);
  z-index: 100;
}

.progress-circular--material__primary,
.progress-circular__primary {
  stroke: #fafafa!important;
}

.page__background page--material__background {
  background-color: #fafafa!important;
}

.section-header {
  margin: 0px!important;
  padding: 10px;
  background-color: white;
  font-size:1.25em
}

.start-button-container {
  width: 100%;
  display: flex;
}

.section {
  margin-bottom: 10px;
}

.edit-button {
  width: 120px;
  border-radius: 15px;
  padding: 5px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #0058bf;
  border: none;
  outline: none;
  font-size: 1em;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 20px; 
  right: 15px;
  padding: 15px 10px;
}

.edit-button i {
  margin-right: 10px;
}

#edit-form {
  padding-bottom: 100px;
}

.select-image-button {
  width: 200px;
  border-radius: 15px;
  padding: 5px;
  vertical-align:auto;
  color: #0058bf;
  border-color: #0058bf;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  font-size: 1em;
  position: fixed;
  top: calc(50% - 2rem); 
  left: calc(50% - 100px);
  padding: 15px 10px;
}

.topo-list {
  margin-top: 120px;
  padding-bottom: 100px;
  background-color: #fafafa;
}

.topo-list p{
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 3.2rem;
  padding: 20px;
}

.float-left-top {
  position: absolute;
  right: 1em;
}

.float-right-top {
  position: absolute;
  left: 1em;
}

.rotate-image {
  transform: rotate(0.5turn);
}

/* 閉じるボタン　ここから */

.close-button {
  top: 2%;
  width: 50px;
  height: 50px;
  vertical-align:auto;
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
}

.close-button i {
  font-size: 2.5em;
}

/* 閉じるボタン　ここまで */

/* トポカード　ここから */
.topo-card {
  background-color: white;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 1px 1.5px 1px rgba(0,0,0,0.1);
}

.topo-card-data {
  padding: 2px 10px 10px 10px;
}

.topo-card-title-container {
  display: flex;
  justify-content: space-between;
}

.topo-card-title {
  font-size: 22px;
  font-weight: 800;
}

.topo-card-grade {
  font-size: 20px;
  /* background-color: red; */
  border-radius: 7px;
  padding: 3px 10px;
}

.grade1 {
  background-color: #FF3399;
  color: #ffffff;
}

.grade2 {
  background-color: #db2828;
  color: #ffffff;
}

.grade3 {
  background-color: #fbbd08;
  color: #ffffff;
}

.grade4 {
  background-color: #219ed0;
  color: #ffffff;
}

.grade5 {
  background-color: #f2711c;
  color: #ffffff;
}

.grade6 {
  background-color: #6435c9;
  color: #ffffff;
}

.grade7 {
  background-color: #b5cc18;
  color: #ffffff;
}

.grade8 {
  background-color: #9e0000;
  color: #ffffff;
}

.grade9 {
  background-color: #2c733f;
  color: #ffffff;
}

.grade10 {
  background-color: #1b1c1d;
  color: #ffffff;
}

.grade11 {
  background-color: #FF3399;
  color: #ffffff;
}

.grade12 {
  background-color: #FF3399;
  color: #ffffff;
}

.grade13 {
  background-color: #FF3399;
  color: #ffffff;
}

.topo-card img{
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.topo-card-divider {
  width: 100%;
  height: 0.5px;
  overflow: hidden;
  background-color: gainsboro;
}

.topo-card-action {
  padding: 5px 10px;
  display: flex;
  gap: 15px;
}

.topo-card-action-button {
  /* margin-left: auto; */
  padding: 5px;
}

.topo-card-action-button i:before {
  color: black;
}

.topo-card-action-button:nth-child(2) {
  margin-left: auto;
}

/* トポカード　ここまで */


/* ダウンロードボタン　ここから*/

.download-button {
  position: absolute;
  left: 1em;
  bottom: 20%;
  height: 20px;
  width: 20px;
  border-radius: 35px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #0058bf;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.download-button i {
  font-size: 1.3em;
}

.download-button.is-lefty {
  left: auto;
  right: 1em;
}

/* ダウンロードボタン　ここまで*/

/* 保存ボタン　ここから */

.save-button {
  position: absolute;
  left: 1em;
  bottom: 32%;
  height: 20px;
  width: 20px;
  border-radius: 35px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #0058bf;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.save-button i {
  font-size: 1.3em;
}

.save-button.is-lefty {
  left: auto;
  right: 1em;
}

/* 保存ボタン　ここまで*/

/* 回転ボタン　ここから */

.rotate-button {
  position: absolute;
  right: 1em;
  top: 20%;
  height: 20px;
  width: 20px;
  border-radius: 35px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #0058bf;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.rotate-button i {
  font-size: 1.3em;
}

/* 回転ボタン　ここまで*/

/* ヘルプボタン　ここから */

.help-button {
  position: absolute;
  right: 1.15em;
  top: 8%;
  height: 20px;
  width: 20px;
  padding: 15px;
  vertical-align:auto;
  color: #0058bf;
}

.help-button i {
  font-size: 1.5em;
}

/* ヘルプボタン　ここまで*/


.help-page-title {
  text-align: center;
  font-weight: bold!important;
  margin-top: 50px!important;
}

.help-container {
  margin: 15px 20px 10px 20px;
  border-radius: 20px;
  height: 75%;
  overflow-y: scroll;
  background-color: white;
  padding: 15px 15px 5px 15px;
}

.help-footer{
  display: flex;
  text-align: center;
  justify-content: center;
}

.help-footer div {
  margin: 10px 10px;
}

.help-image {
  margin-top: 20px;
  text-align: center;
}

.help-selected-dot {
  color: #0058bf;
}

/* ヘルプメニューボタン　ここから*/

.help-menu-button {
  margin: 20px 20px;
  border-radius: 1.3rem; 
  padding: 2% 5%;
  text-align: center;
  width: 80%;
  font-size: 1rem;
  white-space: nowrap;
  color: white;
  background-color: #0058bf;
}
/* ヘルプメニューボタン　ここまで*/


/* スタンプメニューここから */

/* .horizontal-container::after {
  padding: 10px;
} */

.horizontal-container {
  position: absolute;
  width: 100%;
  bottom: 2%;
  display: flex;
  align-items: center;
  overflow: scroll;
  height:12%;
  box-sizing: border-box;
  padding: 10px;
  /* gap: 10px; */
  /* list-style: none; */
  /* justify-content: space-between; */
}

.horizontal-container::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  scrollbar-width: none;
}

.round-button.selected {
  color: whitesmoke;
  background-color: #0058bf;
}

.button-li::marker {
  display: none;
}

.round-button {
  margin: 0% 1%;
  border-radius: 1.3rem; 
  padding: 2% 5%;
  text-align: center;
  width: fit-content;
  font-size: 1rem;
  white-space: nowrap;
  color: black;
  background-color: whitesmoke;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

/* スタンプメニューここまで */

/* ホーム画面検索　ここから */

/* 検索バー　ここから */

.search-wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.search-container{
  display: flex;
  box-sizing: border-box;
  padding: 3px 10px;
  border-radius: 25px;
  height: 3em;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  /* position: fixed; */
  /* top: 15px; */
  right: 40px;
  left: 40px;
  z-index: 10;
}

.search-container input[type="text"]{
  width: fit-content;
  margin-top: 2px;
  margin-left: 25px;
  border: none;
  font-size: 17px;
  width: calc(100% - 50px);
}

.search-container input[type="text"]:focus {
  outline: 0;
}

.search-container div {
  font-size: 1em;
  border: none;
  background: none;
  position: absolute;
  margin-top: calc(10px + 0.1rem);
  margin-left: 5px;
}

.search-container button {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3rem;
  border: none;
  background: none;
  color: #0058bf;
  position: absolute;
  right: 0;
  outline : none;
}

.search-mark {
  margin-right: 5px;
}

.search-clear {
  margin-top: 5px;
  margin-right: 25px;
}
/* 検索バー　ここまで */

.grade-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: scroll;
  box-sizing: border-box;
  padding: 10px;
  z-index: 10;
}

.grade-container::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  scrollbar-width: none;
}

.rectangle-button {
  margin: 0% 1%;
  border-radius: 5px; 
  padding: 2% 5%;
  text-align: center;
  width: fit-content;
  font-size: 1rem;
  white-space: nowrap;
  color: black;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.rectangle-button.selected {
  color: whitesmoke;
  background-color: #0058bf;
}

/* ホーム画面検索　ここまで */


/* 編集ページ　ここから */
.edit-page {
  background-color: white;
}

#edit-container {
  margin: 70px 20px;
}

.edit-title {
  margin-top: 40px;
  margin-bottom: 5px;
}

h3.page-title i {
  margin-right: 15px;
}

.edit-image {
  width: 100%;
}

.edit-input {
  width: 100%;
  height: auto;
}
/* 編集ページ　ここまで */
