.hand-segment{
  position: absolute;
  bottom: 10px;
}

.button-center {
  text-align: center;
}

.image-stage {
  position: absolute;
}

.section-header {
  margin: 0px!important;
  padding: 10px;
  background-color: white;
  font-size:1.25em
}

.start-button-container {
  width: 100%;
  display: flex;
}

.section {
  margin-bottom: 10px;
}

.start-button {
  margin: 20px 10px;
  width: 50%;
  border-radius: 30px;
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  border: none;
  outline: none;
  font-size: 1.1em;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.float-left-top {
  position: absolute;
  right: 1em;
}

.float-right-top {
  position: absolute;
  left: 1em;
}

.rotate-image {
  transform: rotate(0.5turn);
}


/* 閉じるボタン　ここから */

.close-button {
  top: 2%;
  width: 50px;
  height: 50px;
  vertical-align:auto;
  color: black;
  background-color: transparent;
  border: none;
  outline: none;
}

.close-button i {
  font-size: 2.5em;
}

/* 閉じるボタン　ここまで */


/* 戻る・進むボタン　ここまで*/
.undo-and-redo-container {
  position: absolute;
  top: 2%;
  right: 17%;
  width: 65px;
}

.undo-and-redo-container.is-lefty {
  position: absolute;
  top: 2%;
  left: 1em;
  width: 65px;
}

.redo-button {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  border: none;
  outline: none;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.undo-button {
  position: absolute;
  left: 0%;
  width: 50px;
  height: 50px;
  border-radius: 30px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  border: none;
  outline: none;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.undo-button.disabled,
.redo-button.disabled{
  background-color: whitesmoke;
  color: black;
}

.undo-button i,
.redo-button i {
  font-size: 1.5em;
}
/* 戻る・進むボタン　ここまで*/


/* ダウンロードボタン　ここから*/

.download-button {
  position: absolute;
  left: 1em;
  bottom: 20%;
  height: 20px;
  width: 20px;
  border-radius: 35px; 
  padding: 15px;
  vertical-align:auto;
  color: whitesmoke;
  background-color: #004898;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

.download-button i {
  font-size: 1.3em;
}

.download-button.is-lefty {
  left: auto;
  right: 1em;
}

/* ダウンロードボタン　ここまで*/


/* スタンプメニューここから */

/* .horizontal-container::after {
  padding: 10px;
} */

.horizontal-container {
  position: absolute;
  width: 100%;
  bottom: 2%;
  display: flex;
  align-items: center;
  overflow: scroll;
  height:12%;
  box-sizing: border-box;
  padding: 10px;
  /* gap: 10px; */
  /* list-style: none; */
  /* justify-content: space-between; */
}

.horizontal-container::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  scrollbar-width: none;
}

.round-button.selected {
  color: whitesmoke;
  background-color: #004898;
}

.button-li::marker {
  display: none;
}

.round-button {
  margin: 0% 1%;
  border-radius: 1.3rem; 
  padding: 2% 5%;
  text-align: center;
  width: fit-content;
  font-size: 1rem;
  white-space: nowrap;
  color: black;
  background-color: whitesmoke;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

/* スタンプメニューここまで */